<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/sign-up"><i><strong>PizzaThirst</strong></i></a>
  </div>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/sign-up"  ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/log-in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>

<div class="container">

    <div class="col-md-4">
      <!-- <img src="/assets/Images/create-account-button.png "  > -->


 <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
     <h3>Create Account</h3>
     <div class="form-group">
         <label for="exampleInputEmail1">Email address</label>
       <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="username" placeholder="Enter Email or Username">
         <label type="text-danger" *ngIf="service.formModel.get('username')?.touched &&  service.formModel.get('username')?.errors">This field is Mandatory</label>
     </div>
 
     
     <div class="form-group ">
         <label for="exampleInputPassword1">Password</label>
         <input type="password" class="form-control" name="password" id="exampleInputPassword1" formControlName="password" placeholder="Password" required>
          <label type="text-danger" *ngIf="service.formModel.get('password')?.touched &&  service.formModel.get('password')?.errors">Both field's are Mandatory</label>                                                   
       </div>
 
     <div>
         <button type="submit" class="btn btn-primary" onclick="myFunction()">SignUp</button> 
     </div>
     <p id="demo"></p>
    
 </form>
    </div>
</div>
 